@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff');
    src: local('Inter-Medium.woff'), local('InterMedium.woff'),
      url('../fonts/Inter-Medium.woff2') format('woff2'),
      url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.woff');
    src: local('Inter-ExtraBold.woff'), local('InterExtraBold.woff'),
      url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
      url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  